<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

	<head>
		<meta charset="UTF-8" />
		<title>Home Page</title>
	</head>
	
	<body>
		<section class="banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold">Get Mean Median Mode</h1>
			<p>Start typing numbers and get mean median and mode in very smarter way.It provide very efficient and smarter way of getting those.</p>
			<button class="btn bg-primary btn-lg">Get Started</button>
		</div>
		</section>
	</body>
</html>