<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">

	<head>
		<meta charset="UTF-8" />
		<title>Registration Page</title>
	</head>
	
	<div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
	
	<body>
		<section class="reg-sec">
			<div class="container">
			   <div class="row">
			
				<div class="col-md-6 offset-md-3">
		    	  
		    	   <div class="my-card">
		    	  
		    	       <h1 class="text-center">Register here!!</h1>
		    	       
						<form action="" th:action="@{/do_register}" method="POST" th:object="${user}">
						
						     <!--name field-->
						     
							 <div class="mb-3">
							    <label for="name_field" class="form-label">Your Name</label>
							   
							    <input
							    name="name" 
							     type="text"
							     class="form-control" 
							     id="name_field" 
							     aria-describedby="emailHelp"
							     placeholder="Enter here"
							     required
							     th:value="${user.name}"/>
							     
							  </div>	
							  
							   <!--email field-->
						     
							 <div class="mb-3">
							    <label for="email_field" class="form-label">Your Email</label>
							   
							    <input 
							    name="email"
							     type="email"
							     class="form-control" 
							     id="email_field" 
							     aria-describedby="emailHelp"
							     placeholder="Enter here"
							     required
							     th:value="${user.email}"/>
							     
							  </div>	
							  
							  
							   <!--password field-->
						     
							 <div class="mb-3">
							    <label for="password_field" class="form-label">Password</label>
							   
							    <input 
							    name="password"
							     type="password"
							     class="form-control" 
							     id="password_field" 
							     aria-describedby="emailHelp"
							     placeholder="Enter here"
							     required
								/>
							     
							  </div>	
							  
							  <div class="container text-center btn-pad">
							  
							  		<button type="submit" class="btn bg-primary text-white">Submit
							  		</button>
							  		
							  		<button type="reset" class="btn btn-warning">Reset
							  		</button>
							  
							  </div>
							  					
						
						</form>
					
					
					</div>
				</div>
			
			    </div>
		     </div>
		</section>
	</body>
</html>